body{
	height:100%;
	width:100%;
	background-image:url("https://media.golfdigest.com/photos/567330978b8513be3ee2501e/master/pass/Kinloch-Golf-Club-9-Manakin-Sabot-Virginia.jpg");
	backgound-repeat:no-repeat;
	background-size:cover;
}

form {
  text-align: center;
}

label{
    display:inline-block;
    width:100px;
}
